WebUI.Business/Connected Services/WCFService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerResponse" nillable="true" type="tns:CustomerResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerResponse" nillable="true" type="tns:ArrayOfCustomerResponse" />
  <xs:complexType name="CustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerResponse" nillable="true" type="tns:CustomerResponse" />
  <xs:complexType name="ArrayOfOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderResponse" nillable="true" type="tns:OrderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderResponse" nillable="true" type="tns:ArrayOfOrderResponse" />
  <xs:complexType name="OrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ShippedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderResponse" nillable="true" type="tns:OrderResponse" />
  <xs:complexType name="WebTrackerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SourceIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeOfAction" type="xs:dateTime" />
      <xs:element minOccurs="0" name="URLRequest" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTrackerRequest" nillable="true" type="tns:WebTrackerRequest" />
</xs:schema>